@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    direction: rtl;
    font-family: DanaFaNum, Arial, sans-serif !important;
}

.direction-rtl {
    direction: rtl;
}

.direction-ltr {
    direction: ltr;
}

@font-face {
    font-family: DanaFaNum;
    src: url(../fonts/DanaFaNum-Medium.woff);
}