<template>
  <div class="fixed w-full h-full top-0 left-0 bg-white-100 dark:bg-black-300 z-50">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <span class="text-sm mb-2 text-black-100 dark:text-white-300">در حال بارگذاری</span>
      <div class="w-7 h-7 border-b-2 border-white-400 rounded-full animate-spin"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Loading"
}
</script>
<script setup>
</script>

<style scoped>

</style>