<template>
  <div>
    <div ref="chart" style="width: 100%; height: 400px;"></div>
  </div>
</template>

<script>
import * as echarts from 'echarts';
import {ref, onMounted, onUnmounted, watch} from 'vue';
import moment from "moment-jalaali";

export default {
  name: 'SensorChart',
  props: {
    sensorData: {
      type: Array,
      required: true,
    },
  },
  setup(props) {
    const chart = ref(null);

    const initChart = () => {
      chart.value = echarts.init(chart.value);
      updateChart();
    };
    const updateChart = () => {
      if (!chart.value) return;

      const now = moment();
      const eightHoursAgo = now.subtract(8, 'hour').unix();

      const recentSensorData = props.sensorData.filter(data => data.timestamp >= eightHoursAgo);

      const chartData = recentSensorData.map(data => {
        data.jalaliDate = moment.unix(data.timestamp).format('HH:mm - jYYYY/jMM/jDD');
        return data;
      });

      const option = {
        // title: {
        //   text: '',
        // },
        tooltip: {
          trigger: 'axis',
        },

        xAxis: {
          type: 'category',
          data: chartData.map(data => data.jalaliDate),
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            name: 'Temperature',
            type: 'line',
            data: props.sensorData.map(data => data.temperature),
          },
          {
            name: 'Humidity',
            type: 'line',
            data: props.sensorData.map(data => data.humidity),
          },
          {
            name: 'Voltage',
            type: 'line',
            data: props.sensorData.map(data => data.voltage),
          },
        ],
      };

      chart.value.setOption(option);
    };

    onMounted(() => {
      initChart();
    });

    onUnmounted(() => {
      if (chart.value) {
        chart.value.dispose();
      }
    });

    watch(
        () => props.sensorData,
        () => {
          updateChart();
        }
    );

    return {
      chart,
    };
  },
};
</script>
