<template>
  <div>

    <div
        class="md:mt-2 mb-10 bg-white-100 rounded-2xl mx-2 md:mx-10 mt-10 p-1 md:p-3 border border-white-300">

      <div class="flex flex-col w-full">

        <h3 class="hidden md:block bg-white-200 px-3 py-4 rounded-2xl text-black-100 text-md text-right">
          لیست سنسورها
        </h3>

        <section>
          <div class="w-full overflow-hidden rounded-2xl border border-white-100">

            <div v-if="listLoading"
                 class="w-full h-full flex flex-col justify-center items-center p-20">
              <span class="text-sm mb-2">در حال بارگذاری</span>
              <div class="w-5 h-5 border-b-2 border-white-400 rounded-full animate-spin"></div>
            </div>

            <div v-else
                 class="w-full overflow-x-auto">

              <div v-if="list?.length > 0">
                <table class="w-full table">
                  <thead>
                  <tr class="text-md text-left text-white-200">
                    <th v-for="(header,i) in headers"
                        :key="i"
                        class="px-4 py-3 text-center text-[#9E9E9E] text-xs">{{ header }}
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="(item,index) in list"
                      :key="index"
                      class="text-gray-700 border-b border-white-300 last:border-none transition cursor-pointer hover:bg-blue-50"
                      @click="selectSensor(item.id)">
                    <td class="px-4 py-3 text-center">
                      <span class="text-xs text-black-200">{{ item.id }}</span>
                    </td>
                    <td class="px-4 py-3 text-center">
                      <span class="text-xs text-black-200">{{ item.name }}</span>
                    </td>
                    <td class="px-4 py-3 text-center text-xs direction-ltr">

                      <span class="text-black-200">{{ item.temperature }}</span>
                      <span class="text-primary-200"> °C</span>

                    </td>
                    <td class="px-4 py-3 text-center text-xs direction-ltr">
                      <span class="text-black-200">{{ item.humidity }}</span>
                      <span class="text-primary-200"> %</span>
                    </td>
                    <td class="px-4 py-3 text-center text-xs direction-ltr">
                      <span class="text-black-200">{{ item.voltage }}</span>
                      <span class="text-primary-200"> V</span>
                    </td>
                  </tr>
                  </tbody>

                </table>
              </div>


              <div v-else
                   class="w-full flex flex-col justify-center items-center">
                <p class="my-20 w-full text-sm text-black-200 text-center flex justify-center items-center">
                  هنوز سفارشی ثبت نشده است.</p>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>


    <component :is="ModalComponent"
               :show-modal="sensorChartVisible"
               @closeModal="closeSensorChartModal"
               modal-width="w-full md:w-[30rem] px-4"
               :has-close-btn="true"
               position="items-center"
               :default-close-btn="false">

      <template v-slot:closeBtn>
        <svg width="35"
             height="35"
             viewBox="0 0 48 48"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <circle cx="24" cy="24" r="24" transform="matrix(-1 0 0 1 48 0)"
                  fill="#f6f6f6"/>
          <path
              d="M24.0006 22.824L28.1253 18.6992L29.3038 19.8777L25.1791 24.0025L29.3038 28.1273L28.1253 29.3058L24.0006 25.181L19.8758 29.3058L18.6973 28.1273L22.8221 24.0025L18.6973 19.8777L19.8758 18.6992L24.0006 22.824Z"
              fill="#7C085E"/>
        </svg>
      </template>

      <template v-slot:header>
        <div class="flex w-full">
          <h3 class="text-sm text-center w-full text-black-100">
            اطلاعات این سنسور در ۸ ساعت گذشته
          </h3>
        </div>
      </template>

      <template v-slot:body>

        <SensorChart v-if="selectedSensorData.length" :sensor-data="selectedSensorData"></SensorChart>

      </template>

    </component>


  </div>
</template>

<script setup>
import {ref, onMounted, onUnmounted} from 'vue';
import {getSensors, getSensorData} from '@/api/index';
import SensorChart from "@/components/SensorChart.vue";
import ModalComponent from "@/components/base/ModalComponent.vue";
import {useGlobalStore} from '@/stores/global';

const store = useGlobalStore();

const headers = ref([
  'ردیف',
  'نام',
  'رطوبت',
  'دما',
  'ولتاژ',
])
const list = ref([]);
const listLoading = ref(false);
const fetchInterval = ref(0);
const selectedSensorData = ref([]);

const sensorChartVisible = ref(false);

onMounted(() => {
  fetchSensors();
  fetchInterval.value = setInterval(() => {
    fetchSensors();
  }, 60000);
});

onUnmounted(() => {
  clearInterval(fetchInterval.value);
});


const fetchSensors = async () => {
  closeSensorChartModal();
  listLoading.value = true;

  await getSensors().then((response) => {
    list.value = response.data;
  }).catch((error) => {
    store.setResponseType('error');
    if (error?.response?.data) {
      store.setResponseData(error.response.data)
    } else {
      store.setResponseData('خطایی به وجود آمده');
    }

    store.toastTimeOut();

  }).finally(() => {
    listLoading.value = false;
  })
}

const selectSensor = async (sensorId) => {
  store.setFullLoading(true);
  await getSensorData(sensorId).then((response) => {
    sensorChartVisible.value = true;
    selectedSensorData.value = response.data;
  }).catch((error) => {
    store.setResponseType('error');
    if (error?.response?.data) {
      store.setResponseData(error.response.data)
    } else {
      store.setResponseData('خطایی به وجود آمده');
    }
    store.toastTimeOut();

  }).finally(() => {
    store.setFullLoading(false);
  })
};

const closeSensorChartModal = () => {
  sensorChartVisible.value = false
}

</script>

<style scoped>

</style>
