<template>
  <div>
    <component v-if="store.getFullLoading"
               :is="FullLoading"></component>

    <component :is="ToastComponent"
               :show="store.displayToast"
               :data="store.getResponseData"
               :type="store.getResponseType"></component>
    <router-view></router-view>
  </div>
</template>

<script setup>
import {useGlobalStore} from '@/stores/global';
import ToastComponent from "@/components/base/ToastComponent.vue";
import FullLoading from "@/components/FullLoading.vue";

const store = useGlobalStore();
</script>
